@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css");

.onlineOrNo {
    width: 70%;
    margin: 0 auto;
    padding: 0;
    opacity: 0.6;
    transform: translate(0, -30%);
}

.onlineOrNo > h2 {
    font-size: 2.5em;
}

.onlineOrNo > p {
    font-size: 1.6em;
}

.onlineOrNo > table {
    width: 100%;
    font-size: 1.6em;
  
}

.onlineOrNo > table > tbody > tr > td {
    padding: 1em 5em 1em 1em;
}

.onlineOrNo > table > tbody > tr:nth-child(odd) {
    background-color: rgba(230, 230, 230, 1);
}